body{font-size:87.5%;font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}#site-name{font-size:2em;font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}#site-slogan{font-size:1.6em;font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}#page-title{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}.node-title{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}.comment-title{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}.block-title{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}h1,h2,h3,h4{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}h5,h6{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}h1{font-size:2em;}h2{font-size:1.6em;}h3{font-size:1.4em;}h4{font-size:1.2em;}h5{font-size:1em;}h6{font-size:1em;}#menu-bar .menu-wrapper,#primary-menu-bar .menu-wrapper{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}#secondary-menu-bar .menu-wrapper,#menu-bar #block-system-user-menu{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}nav.block .block-content{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}ruby ruby{font-family:'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif}

/*
     FILE ARCHIVED ON 16:38:21 Sep 09, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:10:27 May 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.634
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.011
  esindex: 0.013
  cdx.remote: 84.973
  LoadShardBlock: 162.767 (3)
  PetaboxLoader3.datanode: 408.711 (5)
  PetaboxLoader3.resolve: 428.362 (3)
  load_resource: 715.101 (2)
*/